<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Structure Viewer</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="index.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
<script src="index.js"></script>
</head>
<body ng-app="viewer" ng-controller="main as main">
<h1>Structure Viewer</h1>
<div ng-if="main.needsAuth">
	<p ng-repeat="(datasource, href) in main.datasources"><a ng-href="{{href}}">{{datasource}}</a></p>
</div>
<div ng-repeat="structure in main.structures">
	<h2>{{main.structureNames.get(structure.structure_id)}}</h2>
	<p>{{main.structureTypes.get(structure.type_id).name}} - {{["","Small","Medium","Large","Extra Large"][main.structureTypes.get(structure.type_id).size]}} {{main.structureGroups.get(main.structureTypes.get(structure.type_id).group)}}</p>
	<p>{{structure.fuel_expires?main.timeRemaining(structure.fuel_expires):"Fuel info N/A"}}</p>
</div>
</body>
</html>
